@model List<EmployeeLaveManagmentSystem.Repository.HourlyEmployee>

<div id="accordion1" style="text-align:justify">


    <table border="1" cellpadding="10">
        <tr>
            <th>Employee ID</th>
            <th>Employee Name</th>
            <th>No of Working Days</th>
            <th colspan="4">Actions</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.EmployeeID</td>
                <td>@item.EmployeeName</td>
                <td>@item.WorkingDays </td>

                <td>@item.Noofvacations </td>
                <td>
                    <input type="button" value="Update Work Hours" onclick="location.href='@Url.Action("EditHours", "Home",new { item.EmployeeID})'" />
                    <input type="button" value="Take Vacation" onclick="location.href='@Url.Action("Create", "Home")'" />
                </td>

            </tr>
        }
    </table>
</div>

<script>
    $(function () {
        $("#showDialog").click(function () { DisplayUpdateCustomerDialog(); });
    });
    function DisplayUpdateCustomerDialog() {
        //...code for dialog
    }
</script>
